:root {
  --main-color: rgb(243, 31, 84);
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f6f8fb;
  margin-top: 60px;
  padding: 14px 28px;
  border-radius: 4px;
  max-width: 900px;
  min-width: 600px;
  z-index: 1000;
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 0;
  caret-color: transparent;
}

.email-wrapper,
.password-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 14px;
}

.labels {
  position: absolute;
  top: 35%;
  left: 8%;
  z-index: 1;
  transition: all 0.3s ease;
  caret-color: transparent;
}

.modal-content input {
  font-size: 1.1rem;
  width: 90%;
  padding: 15px 14px;
}

.modal-content input::placeholder {
  visibility: hidden;
}
.modal-content input:focus::placeholder {
  visibility: visible;
}

.text-wrapper {
  margin: 16px auto;
  caret-color: transparent;
}

.text-wrapper span {
  font-weight: 100;
  font-size: 1.2rem;
}

.text-wrapper em {
  color: black;
  font-weight: bold;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
}

.modal-close button {
  cursor: pointer;
  border: none;
  background: #f6f8fb;
  font-size: 1.2rem;
}

.modal-close button:hover {
  background-color: var(--main-color);
  color: white;
  transition: all 0.2s ease;
}

.authBtn {
  display: flex;
  justify-content: center;
}

.authBtn button {
  cursor: pointer;
  margin: 44px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  width: 90%;
  color: #f6f8fb;
  padding: 12px 24px;
  transition: all 0.3s ease;
}

.authBtn button:hover {
  background-color: white;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}

.focused {
  position: absolute;
  font-size: 0.7rem;
  top: 6%;
  left: 6%;
  z-index: 1;
  transition: all 0.3s ease;
}

.material-symbols-outlined {
  margin: 0px 8px;
  cursor: pointer;
}
@media screen and (max-width: 574px) {
  .modal-content {
    min-width: 80%;
    max-width: 80%;
    line-height: normal;
    padding: 8px 20px;
  }
  .text-wrapper {
    margin: 0;
  }
  .text-wrapper span {
    font-size: 1rem;
  }
  .email-wrapper, .password-wrapper {
    margin-top: 10px;
  }
  
}
